@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Montserrat', serif;
  }

body{
    background-color: #D9D9D9;
}

#tituloGestion{
    margin-top: 2vh;
    height: 3rem;
    color: #FFFFFF;
    background-color: black;
    border: black;
    border-radius: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    background-color: black;
}

.cuadradogestion{
    width: 100vh;
    height: 610px;
    background-color: #FFFFFF;
    align-items: center;
    border-radius: 2vh;
}

#Gestion_Ambientes{
    display: flex;
    justify-content: center;
}

#formGestion{
    border: black 2vh;
}

#camposForm{
    margin-top: 2vh;
}
#logo-pocoyo{
    width: 5rem;
    padding: 0 2rem 1rem 0;
}
