* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Inika', serif;
  }

body{
    background-color: #D9D9D9;
}

#tituloRegistro{
    margin-top: 4vh;
    color: #FFFFFF;
    background-color: black;
    border: black;
    border-radius: 3vh;
}

button{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
}

.cuadrado{
    width: 140vh;
    background-color: #FFFFFF;
    border-radius: 2vh;
    align-items: center;
}

#Registro{
    display: flex;
    justify-content: center;
}

#camposForm{
    margin-top: 1vh;
}

#imagen{
    border-radius: 2vh;
}

#ruta {
    text-decoration: none;
  }