* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: "Inika", serif;
}

body {
  background-color: #d9d9d9;
}

#tituloLogin {
  margin-top: 7vh;
  color: #ffffff;
  background-color: black;
  border: black;
  border-radius: 3vh;
}

.cuadradolog {
  width: 140vh;
  background-color: #ffffff;
  border-radius: 2vh;
  align-items: center;
}

#Login {
  display: flex;
  justify-content: center;
}

#camposFormulario {
  margin-top: 7vh;
}

#imagen {
  width: 100%;
  height: 100%;
  border-radius: 2vh;
}

#ruta {
  text-decoration: none;
}
