* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

body{
    background-color: #D9D9D9;
}

div{
    display: flex;
    justify-content: center;
    
}

#cuadrado{
    margin-top: 10vh;
    height: 80vh;
    width: 150vh;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    border-radius: 2vh;
}

form{
    display: block;
}

img{
    border-radius: 2vh;
}